/* red: #D43C33 */
/* grey: #888 */
*{margin:0;padding:0;}
*{box-sizing: border-box;}
*::after{box-sizing: border-box;}
*::before{box-sizing: border-box;}
html{
  font-size: 62.5%;
  font-family: sans-serif;
}
a{color: inherit; text-decoration: none;background: transparent;}
a:link, a:visited {
  text-decoration: none;
  color: #333;
}
a:-webkit-any-link {
  cursor: auto;
}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; }

.navbar {
  width: 100%;
  height: 8rem;
  background-color: #FF5E00;
  position: relative;
  z-index: 4;
  top: 0;
  left: 0;
}

.navbar .logo {
  width: 16rem;
  margin-left: 1rem;
  margin-top: 2.4rem;
  height: 3.5rem;
  display: block;
  float: left;
  background: url(../img/TB1VRVNKFXXXXXsXpXXXXXXXXXX-426-84.png) no-repeat;
  background-size: contain;
}
.navbar .download {
  width: 9.8rem;
  height: 8rem;
  display: block;
  background: url(../img/TB1qd4KKFXXXXb1XpXXXXXXXXXX-216-64.png) no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  right: 1rem;
  top: 0;
}
.navs .nav {
  width: 100%;
  height: 4rem;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  background-color: rgba(249,249,249,.6);
  background-image: linear-gradient(to bottom,rgba(249,249,249,.8),rgba(235,235,235,.8));
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  font-size: 1.6rem;
}
.navs .nav .item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  display: block;
  text-align: center;
  overflow: hidden;
  color: #262b2f;
  text-decoration: none;
  line-height: 4rem;
}
.navs .nav .active {
  color: #ff5800;
  /* box-shadow: inset 0 -2px 0 #ff5800; */
  border-bottom: 2px solid #ff5800;
}
.side{
  z-index: -1;
  position: relative;
}
img{
  border: 0;
  display: block;
  width: 100%;
}
.content {
  overflow: hidden;
}
body, .content {
  min-height: 100%;
}
.list {
  padding-bottom: 2rem;
}
.list ul {
  display: block;
  padding: 0;
  list-style-type: disc;
  margin: 0 auto;
  overflow: hidden;
}
.list .line {
  padding: 1rem;
  border-bottom: .1rem solid #e0e0e0;
}
.list li {
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.list .current {
  position: relative;
}
.list .current:after {
  content: '';
  width: .2rem;
  height: 100%;
  background-color: #fa8e07;
  position: absolute;
  top: 0;
  left: 0;
}
.list .line .song-name {
  font-size: 1.4rem;
}
.list .line .singer-name {
  font-size: 1.2rem;
  color: #afafb0;
  line-height: 1.5;
}

#toApp {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.3rem;
  color: #FA7829;
}
.foot {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 998;
}

.player-mini {
  width: 100%;
  height: 6rem;
  padding-top: 0.5rem;
  position: relative;
  background-color: rgba(0,0,0,.6);
  color: #fff;
}

.player-mini  .cover {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  float: left;
  padding: .5rem;
  z-index: 2;
  position: relative;
}
.player-mini  .info {
  overflow: hidden;
  padding: .5rem;
  height: 5rem;
  position: relative;
  line-height: 2rem;
  z-index: 2;
}
.player-mini  .info .control {
  position: absolute;
  height: 6rem;
  right: 0;
  top: 50%;
  margin-top: -3rem;
  width: 12rem;
}
.player-mini  .info .control a {
  width: 6rem;
  height: 6rem;
  display: block;
  float: left;
  position: relative;
}
.player-mini  .info .control .btn-download:after {
  background-position: -4.1rem center;
}
.player-mini  .info .control a:after {
  content: '';
  background: url(//gtms04.alicdn.com/tps/i4/TB1EZDdFVXXXXXkXpXXxT2CGpXX-160-40.png) no-repeat;
  background-size: 8rem 2rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
}
.player-mini  .info .control .play:after {
  background-position: 1rem center;
}
.player-mini .pmbg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.player-mini .pmbg .bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(1.2rem);
  -moz-filter: blur(1.2rem);
  -ms-filter: blur(1.2rem);
  -o-filter: blur(1.2rem);
  filter: blur(1.2rem);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}




















.tab-content > li{
  display: none;
}
.tab-content > li.active{
  display: block;
}
